{% extends "base.html" %}
{% block records %}

{% for norma in normas %}
    <div class="record-card">
        <div class="record-title">{{norma.title}}</div>
        <div class="record-details">
            <p><strong>URL:</strong> <a href="{{norma.url}}">{{norma.url}}</a></p>
            <p><strong>Date:</strong> {{norma.date}}</p>
            <p><strong>Tipo:</strong> {{norma.tipo}}</p>
            <p><strong>Text:</strong> {{norma.text}}</p>
        </div>
    </div>
{% empty %}
    <div class="record-card">
        <div class="record-title">There is no record</div>
        <p>To add records: <br>
            209ae059 is the container mongo id <br>
            docker exec -it 209ae059 bash <br>
            mongoimport --jsonArray --db mydb --collection despachos --file ./despachos.json<br>
        </p>
    </div>
{% endfor %}
{% endblock %}
